USE [master]
GO
/****** Object:  Database [RCM]    Script Date: 09/03/2019 12:12:21 PM ******/
CREATE DATABASE [RCM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RCM', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.THONGVHSE61933\MSSQL\DATA\RCM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RCM_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.THONGVHSE61933\MSSQL\DATA\RCM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RCM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RCM]
GO
USE [RCM]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/03/2019 12:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 09/03/2019 12:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09/03/2019 12:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09/03/2019 12:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09/03/2019 12:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[IsBanned] [bit] NOT NULL,
	[Connection] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[LocationId] [int] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignedCollectors]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignedCollectors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ReceivableId] [int] NOT NULL,
 CONSTRAINT [PK_AssignedCollectors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectionProgresses]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionProgresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[ReceivableId] [int] NOT NULL,
	[ProfileId] [int] NOT NULL,
 CONSTRAINT [PK_CollectionProgresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Type] [int] NOT NULL,
	[IdNo] [nvarchar](15) NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](100) NULL,
	[ReceivableId] [int] NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Code] [nvarchar](15) NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HubUserConnections]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HubUserConnections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[Connection] [nvarchar](max) NULL,
 CONSTRAINT [PK_HubUserConnections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[Longitude] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Body] [nvarchar](max) NULL,
	[NData] [nvarchar](max) NULL,
	[IsSeen] [bit] NOT NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileMessageForms]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileMessageForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_ProfileMessageForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DebtAmountTo] [bigint] NOT NULL,
	[DebtAmountFrom] [bigint] NOT NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileStageActions]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileStageActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[StartTime] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Frequency] [smallint] NOT NULL,
	[ProfileStageId] [int] NOT NULL,
	[ProfileMessageFormId] [int] NULL,
 CONSTRAINT [PK_ProfileStageActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileStages]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileStages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Duration] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[ProfileId] [int] NOT NULL,
 CONSTRAINT [PK_ProfileStages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressMessageForms]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressMessageForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_ProgressMessageForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressStageActions]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressStageActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[StartTime] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ExcutionDay] [int] NOT NULL,
	[DoneAt] [int] NULL,
	[ProgressStageId] [int] NOT NULL,
	[ProgressMessageFormId] [int] NULL,
 CONSTRAINT [PK_ProgressStageActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressStages]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressStages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Duration] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CollectorComment] [nvarchar](max) NULL,
	[CollectionProgressId] [int] NOT NULL,
 CONSTRAINT [PK_ProgressStages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receivables]    Script Date: 09/03/2019 12:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receivables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ClosedDay] [int] NULL,
	[PayableDay] [int] NULL,
	[PrepaidAmount] [bigint] NOT NULL,
	[DebtAmount] [bigint] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[LocationId] [int] NULL,
 CONSTRAINT [PK_Receivables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190227102640_Init', N'2.2.1-servicing-10028')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190305075123_UpdateReceivablePayable', N'2.2.2-servicing-10034')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'35c5e777-40a4-42df-ad45-2ec7a735a834', N'Admin', N'ADMIN', N'22e1d4a5-ba06-4a8a-8ecb-8d5a8ca0c2d9')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'8cf3e9ab-b9b1-4d58-858b-1c4a232f490d', N'Collector', N'COLLECTOR', N'3261b9f3-8dcb-4b48-ad9a-22107715f622')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'9b105f17-39fb-4955-b892-c81d52d01bee', N'Manager', N'MANAGER', N'6d59a811-81a3-4389-ac88-5778d9442ee2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3fffe6fe-793b-40b3-842a-f549d476511a', N'35c5e777-40a4-42df-ad45-2ec7a735a834')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a2f90c2f-5205-488a-8bd4-41c8b48588e2', N'8cf3e9ab-b9b1-4d58-858b-1c4a232f490d')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'bb1c689c-49c6-4d94-99ee-579eb7b4e6d8', N'8cf3e9ab-b9b1-4d58-858b-1c4a232f490d')
SET IDENTITY_INSERT [dbo].[AssignedCollectors] ON 

INSERT [dbo].[AssignedCollectors] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Status], [UserId], [ReceivableId]) VALUES (1, NULL, CAST(N'2019-03-07T11:21:13.3985842' AS DateTime2), 0, 1, N'db97453d-2ccf-4e8c-91d9-07074e6b2775', 1)
INSERT [dbo].[AssignedCollectors] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Status], [UserId], [ReceivableId]) VALUES (2, NULL, CAST(N'2019-03-07T11:21:13.4469263' AS DateTime2), 0, 1, N'db97453d-2ccf-4e8c-91d9-07074e6b2775', 2)
INSERT [dbo].[AssignedCollectors] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Status], [UserId], [ReceivableId]) VALUES (3, NULL, CAST(N'2019-03-07T11:21:13.4492939' AS DateTime2), 0, 1, N'db97453d-2ccf-4e8c-91d9-07074e6b2775', 3)
SET IDENTITY_INSERT [dbo].[AssignedCollectors] OFF
SET IDENTITY_INSERT [dbo].[CollectionProgresses] ON 

INSERT [dbo].[CollectionProgresses] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Status], [ReceivableId], [ProfileId]) VALUES (1, NULL, CAST(N'2019-03-07T11:21:13.4467494' AS DateTime2), 0, 1, 1, 1)
INSERT [dbo].[CollectionProgresses] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Status], [ReceivableId], [ProfileId]) VALUES (2, NULL, CAST(N'2019-03-07T11:21:13.4492810' AS DateTime2), 0, 1, 2, 1)
INSERT [dbo].[CollectionProgresses] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Status], [ReceivableId], [ProfileId]) VALUES (3, NULL, CAST(N'2019-03-07T11:21:13.4511305' AS DateTime2), 0, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[CollectionProgresses] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Type], [IdNo], [Name], [Phone], [Address], [ReceivableId]) VALUES (1, NULL, CAST(N'2019-03-07T11:21:13.4469011' AS DateTime2), 0, 0, N'45785241', N'Nguyễn Hồng Đức', N'84366031479', N'343D Lạc Long Quân Street, District 11, Hồ Chí Minh City', 1)
INSERT [dbo].[Contacts] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Type], [IdNo], [Name], [Phone], [Address], [ReceivableId]) VALUES (2, NULL, CAST(N'2019-03-07T11:21:13.4469095' AS DateTime2), 0, 1, N'15475412', N'Nguyễn Thị B', N'84366031479', N'3 Dương Đình Nghệ Street, District 11, Hồ Chí Minh City', 1)
INSERT [dbo].[Contacts] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Type], [IdNo], [Name], [Phone], [Address], [ReceivableId]) VALUES (3, NULL, CAST(N'2019-03-07T11:21:13.4469110' AS DateTime2), 0, 1, N'', N'Nguyễn Bé C', N'84366031479', N'', 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Code], [Name], [Phone], [Address]) VALUES (1, NULL, CAST(N'2019-03-07T11:20:53.8929768' AS DateTime2), 0, N'ACB', N'ACB Bank', N'12345678', N'HCM')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[HubUserConnections] ON 

INSERT [dbo].[HubUserConnections] ([Id], [UserId], [Connection]) VALUES (9, N'3fffe6fe-793b-40b3-842a-f549d476511a', N'xDqC05L-o6lZw0rG5svczQ')
INSERT [dbo].[HubUserConnections] ([Id], [UserId], [Connection]) VALUES (19, N'3fffe6fe-793b-40b3-842a-f549d476511a', N'63ajYPFdfxFS_YFsa1vyEw')
INSERT [dbo].[HubUserConnections] ([Id], [UserId], [Connection]) VALUES (20, N'3fffe6fe-793b-40b3-842a-f549d476511a', N'X_TcYO1wu8vruDS6kP5yNA')
SET IDENTITY_INSERT [dbo].[HubUserConnections] OFF
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Type], [Title], [Body], [NData], [IsSeen], [UserId]) VALUES (1, NULL, CAST(N'2019-02-20T19:57:20.5139108' AS DateTime2), 0, N'Hello', N'Mr.T Hello', N'Mr.T Hello everyone!!!', NULL, 0, N'3fffe6fe-793b-40b3-842a-f549d476511a')
INSERT [dbo].[Notifications] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Type], [Title], [Body], [NData], [IsSeen], [UserId]) VALUES (2, NULL, CAST(N'2019-02-20T20:15:48.4278073' AS DateTime2), 0, N'Hello', N'Mr.H Hello', N'Mr.H Hello everyone!!!', NULL, 0, N'3fffe6fe-793b-40b3-842a-f549d476511a')
INSERT [dbo].[Notifications] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Type], [Title], [Body], [NData], [IsSeen], [UserId]) VALUES (3, NULL, CAST(N'2019-02-21T01:30:51.9153691' AS DateTime2), 0, N'SMS', N'Send SMS', N'SMS need to be send to Nguyen Van A', NULL, 0, N'3fffe6fe-793b-40b3-842a-f549d476511a')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
SET IDENTITY_INSERT [dbo].[ProfileMessageForms] ON 

INSERT [dbo].[ProfileMessageForms] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Content], [Type]) VALUES (1, NULL, CAST(N'2019-03-06T21:06:24.5765834' AS DateTime2), 0, N'Cuộc gọi dành cho khách hàng có khoảng nợ nhỏ', N'Xin kính chào [NAME], cuộc gọi này được gửi đến bạn đang nợ [AMOUNT], bạn vui lòng trả chúng tôi đúng thời hạn. Mong nhận được sự hợp tác của bạn.', 1)
INSERT [dbo].[ProfileMessageForms] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Content], [Type]) VALUES (2, NULL, CAST(N'2019-03-06T21:06:37.2779752' AS DateTime2), 0, N'Tin nhắn dành cho khách hàng có khoảng nợ nhỏ', N'Chào [NAME], tin nhắn này được gửi đến bạn vì bạn đang nợ [AMOUNT], bạn vui lòng trả chúng tôi đúng thời hạn. Mong nhận được sự hợp tác của bạn.', 0)
SET IDENTITY_INSERT [dbo].[ProfileMessageForms] OFF
SET IDENTITY_INSERT [dbo].[Profiles] ON 

INSERT [dbo].[Profiles] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [DebtAmountTo], [DebtAmountFrom]) VALUES (1, NULL, CAST(N'2019-03-07T11:20:10.5932248' AS DateTime2), 0, N'Standard process', 0, 0)
INSERT [dbo].[Profiles] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [DebtAmountTo], [DebtAmountFrom]) VALUES (2, NULL, CAST(N'2019-03-07T12:47:45.2403314' AS DateTime2), 0, N'Main process', 0, 0)
SET IDENTITY_INSERT [dbo].[Profiles] OFF
SET IDENTITY_INSERT [dbo].[ProfileStageActions] ON 

INSERT [dbo].[ProfileStageActions] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [StartTime], [Type], [Frequency], [ProfileStageId], [ProfileMessageFormId]) VALUES (1, NULL, CAST(N'2019-03-07T11:20:10.5928157' AS DateTime2), 0, N'SMS', 730, 0, 1, 1, 2)
INSERT [dbo].[ProfileStageActions] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [StartTime], [Type], [Frequency], [ProfileStageId], [ProfileMessageFormId]) VALUES (2, NULL, CAST(N'2019-03-07T11:20:10.5928445' AS DateTime2), 0, N'Phone call', 730, 1, 1, 1, 1)
INSERT [dbo].[ProfileStageActions] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [StartTime], [Type], [Frequency], [ProfileStageId], [ProfileMessageFormId]) VALUES (3, NULL, CAST(N'2019-03-07T11:20:10.5928461' AS DateTime2), 0, N'Báo cáo cho sếp', 730, 3, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[ProfileStageActions] OFF
SET IDENTITY_INSERT [dbo].[ProfileStages] ON 

INSERT [dbo].[ProfileStages] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Duration], [Sequence], [ProfileId]) VALUES (1, NULL, CAST(N'2019-03-07T11:20:10.5928475' AS DateTime2), 0, N'Stage 1', 30, 1, 1)
INSERT [dbo].[ProfileStages] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Duration], [Sequence], [ProfileId]) VALUES (2, NULL, CAST(N'2019-03-07T11:20:10.5928878' AS DateTime2), 0, N'Stage 2', 30, 2, 1)
INSERT [dbo].[ProfileStages] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Duration], [Sequence], [ProfileId]) VALUES (3, NULL, CAST(N'2019-03-07T12:47:45.2400290' AS DateTime2), 0, N'Stage 1', 30, 1, 2)
SET IDENTITY_INSERT [dbo].[ProfileStages] OFF
SET IDENTITY_INSERT [dbo].[ProgressMessageForms] ON 

INSERT [dbo].[ProgressMessageForms] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Content], [Type]) VALUES (1, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, N'Tin nhắn dành cho khách hàng có khoảng nợ nhỏ', N'Chào Nguyễn Hồng Đức, tin nhắn này được gửi đến bạn vì bạn đang nợ 1000000, bạn vui lòng trả chúng tôi đúng thời hạn. Mong nhận được sự hợp tác của bạn.', 0)
INSERT [dbo].[ProgressMessageForms] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Content], [Type]) VALUES (2, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, N'Cuộc gọi dành cho khách hàng có khoảng nợ nhỏ', N'Xin kính chào Nguyễn Hồng Đức, cuộc gọi này được gửi đến bạn đang nợ 1000000, bạn vui lòng trả chúng tôi đúng thời hạn. Mong nhận được sự hợp tác của bạn.', 1)
INSERT [dbo].[ProgressMessageForms] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Content], [Type]) VALUES (3, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, N'Tin nhắn dành cho khách hàng có khoảng nợ nhỏ', N'Chào Nguyễn Hồng Đức, tin nhắn này được gửi đến bạn vì bạn đang nợ 1000000, bạn vui lòng trả chúng tôi đúng thời hạn. Mong nhận được sự hợp tác của bạn.', 0)
SET IDENTITY_INSERT [dbo].[ProgressMessageForms] OFF
SET IDENTITY_INSERT [dbo].[ProgressStageActions] ON 

INSERT [dbo].[ProgressStageActions] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [StartTime], [Type], [Status], [ExcutionDay], [DoneAt], [ProgressStageId], [ProgressMessageFormId]) VALUES (1, CAST(N'2019-04-05T13:09:19.8989049' AS DateTime2), CAST(N'2019-03-07T11:21:13.4438129' AS DateTime2), 0, N'SMS', 730, 0, 3, 20190307, NULL, 1, 1)
INSERT [dbo].[ProgressStageActions] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [StartTime], [Type], [Status], [ExcutionDay], [DoneAt], [ProgressStageId], [ProgressMessageFormId]) VALUES (2, CAST(N'2019-04-05T13:09:19.9639973' AS DateTime2), CAST(N'2019-03-07T11:21:13.4445188' AS DateTime2), 0, N'Báo cáo cho sếp', 730, 3, 3, 20190325, NULL, 1, NULL)
INSERT [dbo].[ProgressStageActions] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [StartTime], [Type], [Status], [ExcutionDay], [DoneAt], [ProgressStageId], [ProgressMessageFormId]) VALUES (3, CAST(N'2019-04-05T13:09:19.9936531' AS DateTime2), CAST(N'2019-03-07T11:21:13.4445169' AS DateTime2), 0, N'Báo cáo cho sếp', 730, 3, 3, 20190324, NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProgressStageActions] OFF
SET IDENTITY_INSERT [dbo].[ProgressStages] ON 

INSERT [dbo].[ProgressStages] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Duration], [Sequence], [Status], [CollectorComment], [CollectionProgressId]) VALUES (1, NULL, CAST(N'2019-03-07T11:21:13.4256028' AS DateTime2), 0, N'Stage 1', 30, 1, 1, NULL, 1)
INSERT [dbo].[ProgressStages] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Duration], [Sequence], [Status], [CollectorComment], [CollectionProgressId]) VALUES (2, NULL, CAST(N'2019-03-07T11:21:13.4445979' AS DateTime2), 0, N'Stage 2', 30, 2, 1, NULL, 1)
INSERT [dbo].[ProgressStages] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [Name], [Duration], [Sequence], [Status], [CollectorComment], [CollectionProgressId]) VALUES (3, NULL, CAST(N'2019-03-07T11:21:13.4474928' AS DateTime2), 0, N'Stage 1', 30, 1, 1, NULL, 2)
SET IDENTITY_INSERT [dbo].[ProgressStages] OFF
SET IDENTITY_INSERT [dbo].[Receivables] ON 

INSERT [dbo].[Receivables] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [ClosedDay], [PayableDay], [PrepaidAmount], [DebtAmount], [CustomerId], [LocationId]) VALUES (1, NULL, CAST(N'2019-03-07T11:21:13.4515051' AS DateTime2), 0, NULL, 20190307, 200000, 1000000, 1, NULL)
INSERT [dbo].[Receivables] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [ClosedDay], [PayableDay], [PrepaidAmount], [DebtAmount], [CustomerId], [LocationId]) VALUES (2, NULL, CAST(N'2019-03-07T11:21:13.8694865' AS DateTime2), 0, NULL, 20190307, 0, 50000000, 1, NULL)
INSERT [dbo].[Receivables] ([Id], [UpdatedDate], [CreatedDate], [IsDeleted], [ClosedDay], [PayableDay], [PrepaidAmount], [DebtAmount], [CustomerId], [LocationId]) VALUES (3, NULL, CAST(N'2019-03-07T11:21:13.9619620' AS DateTime2), 0, NULL, 20190307, 300000000, 1000000000, 1, NULL)
SET IDENTITY_INSERT [dbo].[Receivables] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_LocationId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_LocationId] ON [dbo].[AspNetUsers]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignedCollectors_ReceivableId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedCollectors_ReceivableId] ON [dbo].[AssignedCollectors]
(
	[ReceivableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssignedCollectors_UserId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedCollectors_UserId] ON [dbo].[AssignedCollectors]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CollectionProgresses_ProfileId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_CollectionProgresses_ProfileId] ON [dbo].[CollectionProgresses]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CollectionProgresses_ReceivableId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CollectionProgresses_ReceivableId] ON [dbo].[CollectionProgresses]
(
	[ReceivableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contacts_ReceivableId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Contacts_ReceivableId] ON [dbo].[Contacts]
(
	[ReceivableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HubUserConnections_UserId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_HubUserConnections_UserId] ON [dbo].[HubUserConnections]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileStageActions_ProfileMessageFormId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProfileStageActions_ProfileMessageFormId] ON [dbo].[ProfileStageActions]
(
	[ProfileMessageFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileStageActions_ProfileStageId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProfileStageActions_ProfileStageId] ON [dbo].[ProfileStageActions]
(
	[ProfileStageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileStages_ProfileId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProfileStages_ProfileId] ON [dbo].[ProfileStages]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProgressStageActions_ProgressMessageFormId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProgressStageActions_ProgressMessageFormId] ON [dbo].[ProgressStageActions]
(
	[ProgressMessageFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProgressStageActions_ProgressStageId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProgressStageActions_ProgressStageId] ON [dbo].[ProgressStageActions]
(
	[ProgressStageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProgressStages_CollectionProgressId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProgressStages_CollectionProgressId] ON [dbo].[ProgressStages]
(
	[CollectionProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receivables_CustomerId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Receivables_CustomerId] ON [dbo].[Receivables]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receivables_LocationId]    Script Date: 09/03/2019 12:12:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Receivables_LocationId] ON [dbo].[Receivables]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Locations_LocationId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AssignedCollectors]  WITH CHECK ADD  CONSTRAINT [FK_AssignedCollectors_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AssignedCollectors] CHECK CONSTRAINT [FK_AssignedCollectors_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AssignedCollectors]  WITH CHECK ADD  CONSTRAINT [FK_AssignedCollectors_Receivables_ReceivableId] FOREIGN KEY([ReceivableId])
REFERENCES [dbo].[Receivables] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignedCollectors] CHECK CONSTRAINT [FK_AssignedCollectors_Receivables_ReceivableId]
GO
ALTER TABLE [dbo].[CollectionProgresses]  WITH CHECK ADD  CONSTRAINT [FK_CollectionProgresses_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CollectionProgresses] CHECK CONSTRAINT [FK_CollectionProgresses_Profiles_ProfileId]
GO
ALTER TABLE [dbo].[CollectionProgresses]  WITH CHECK ADD  CONSTRAINT [FK_CollectionProgresses_Receivables_ReceivableId] FOREIGN KEY([ReceivableId])
REFERENCES [dbo].[Receivables] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CollectionProgresses] CHECK CONSTRAINT [FK_CollectionProgresses_Receivables_ReceivableId]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_Receivables_ReceivableId] FOREIGN KEY([ReceivableId])
REFERENCES [dbo].[Receivables] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_Receivables_ReceivableId]
GO
ALTER TABLE [dbo].[HubUserConnections]  WITH CHECK ADD  CONSTRAINT [FK_HubUserConnections_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HubUserConnections] CHECK CONSTRAINT [FK_HubUserConnections_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ProfileStageActions]  WITH CHECK ADD  CONSTRAINT [FK_ProfileStageActions_ProfileMessageForms_ProfileMessageFormId] FOREIGN KEY([ProfileMessageFormId])
REFERENCES [dbo].[ProfileMessageForms] ([Id])
GO
ALTER TABLE [dbo].[ProfileStageActions] CHECK CONSTRAINT [FK_ProfileStageActions_ProfileMessageForms_ProfileMessageFormId]
GO
ALTER TABLE [dbo].[ProfileStageActions]  WITH CHECK ADD  CONSTRAINT [FK_ProfileStageActions_ProfileStages_ProfileStageId] FOREIGN KEY([ProfileStageId])
REFERENCES [dbo].[ProfileStages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileStageActions] CHECK CONSTRAINT [FK_ProfileStageActions_ProfileStages_ProfileStageId]
GO
ALTER TABLE [dbo].[ProfileStages]  WITH CHECK ADD  CONSTRAINT [FK_ProfileStages_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileStages] CHECK CONSTRAINT [FK_ProfileStages_Profiles_ProfileId]
GO
ALTER TABLE [dbo].[ProgressStageActions]  WITH CHECK ADD  CONSTRAINT [FK_ProgressStageActions_ProgressMessageForms_ProgressMessageFormId] FOREIGN KEY([ProgressMessageFormId])
REFERENCES [dbo].[ProgressMessageForms] ([Id])
GO
ALTER TABLE [dbo].[ProgressStageActions] CHECK CONSTRAINT [FK_ProgressStageActions_ProgressMessageForms_ProgressMessageFormId]
GO
ALTER TABLE [dbo].[ProgressStageActions]  WITH CHECK ADD  CONSTRAINT [FK_ProgressStageActions_ProgressStages_ProgressStageId] FOREIGN KEY([ProgressStageId])
REFERENCES [dbo].[ProgressStages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgressStageActions] CHECK CONSTRAINT [FK_ProgressStageActions_ProgressStages_ProgressStageId]
GO
ALTER TABLE [dbo].[ProgressStages]  WITH CHECK ADD  CONSTRAINT [FK_ProgressStages_CollectionProgresses_CollectionProgressId] FOREIGN KEY([CollectionProgressId])
REFERENCES [dbo].[CollectionProgresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgressStages] CHECK CONSTRAINT [FK_ProgressStages_CollectionProgresses_CollectionProgressId]
GO
ALTER TABLE [dbo].[Receivables]  WITH CHECK ADD  CONSTRAINT [FK_Receivables_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Receivables] CHECK CONSTRAINT [FK_Receivables_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Receivables]  WITH CHECK ADD  CONSTRAINT [FK_Receivables_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Receivables] CHECK CONSTRAINT [FK_Receivables_Locations_LocationId]
GO
USE [master]
GO
